<form>
  <input type="hidden" name="card[rank]" value="<%= newRank %>">
  <input type="text" class="card-title" name="card[title]">
  <input type="submit" value="Add">
  <button type="button" class="close-btn">X</button>
</form>