<h3>Boards Index</h3>

<% boards.each(function(board) { %>
  <div class="row">
    <div class="col-md-1">
      <a href="#boards/<%= board.id %>">
        <%= board.escape('title') %>
      </a>
    </div>
    <button class='delete-board btn btn-default btn-sm' data-id="<%= board.id %>">
      Delete
    </button>
    <br>
  </div>
  <br>
<% }) %>

<br>

<a href="#boards/new">Create new board</a>