<form role="form" id="new-board">
  <div class="form-group">
    <label>Title:
      <input class="form-control" name="board[title]">
    </label>
    <input type="submit" class="btn btn-default btn-sm" value="Create">
  </div>
  
</form>

<div class="row">
  <div class="col-md-offset-1">
    <a href="#">Back to Boards Index</a>
  </div>
</div>