<h4><%= board.escape('title') %></h4>

<div class="row">
  <div class="lists"></div>
</div>

<div class="list-new"></div>

<a href="#">Back to Boards Index</a>
<br>

Board Members:<br>
<% members.each(function(member) { %>
  <%= member.escape('email') %><br>
<% }) %>

<div class="new-member"></div>