<h3>Board show</h3>

<%= board.escape('id') %>
<%= board.escape('title') %>
<br><br>

Lists:<br>
<ul>
  <% _(board.get('lists')).each(function(list) { %>
    <li><%= list.title %></li>
  <% }) %>
</ul>

<div class="list-new"></div>

<a href="#">Back to Boards Index</a>