<div class="container">
  <%= render "layouts/errors" %>

  <h1>Sign Up</h1>

  <div class="row">
    <form role="form" class="col-md-3"
      action="<%= users_url %>" method="POST">
      <%= auth_token_input %>
      <div class="form-group">
        <label>
          Email<br>
          <input id="email" type="text" class="form-control" name="user[email]">
        </label>
      </div>
      <div class="form-group">
        <label>
          Password<br>
          <input id="password" class="form-control" type="password" name="user[password]">
        </label>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Sign Up">
      </div>
      <a href="<%= new_session_url %>">Back to Login</a>
    </form>
  </div>

</div>
