/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$navbar-default-bg: #1d658e;
$navbar-default-link-color: white;
$body-bg: #23719F;
/* $text-color: white; */
$link-color: white;

@import "bootstrap";

/* TODO: side padding not working */
div.list {
  background-color: #dbdbdb;
  margin: 10px;
  padding-left: 0px;
  padding-right: 0px;
  float:left;
  color: gray-dark;
}

h4 {
  font-weight: bold;
}

.card {
  background-color: white;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 5px;
}

.list-title {
  padding-top: 5px;
  font-weight: bold;
}