<form id='new-list'>
  <input type="hidden" name="list[board_id]"
    value="<%= board.id %>">
  <label>Title:
    <input name="list[title]">
  </label>
  <br>
  <label>Rank:
    <input name="list[title]">
  </label>
</form>