<form id='new-list'>
  <input type="hidden" name="list[board_id]"
    value="<%= board.id %>">
  <label>Title:
    <input class='user-input' name="list[title]">
  </label>
  <br>
  <label>Rank:
    <input class='user-input' name="list[rank]">
  </label>
  <input type="submit" value="Add List">
</form>